/*********************************************
 * GLOBAL
 *********************************************/

.reveal {
  font-size: 48px;
}

.reveal h2 {
  font-size: 1.9em;
}

.reveal .no-margin p
{
  margin: 0 !important;
}

/*********************************************
 * CODE
 *********************************************/

pre code {
  line-height: 1.5em;
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  border: none;
  box-shadow: none;
}

/*********************************************
 * FOOTER
 *********************************************/

.reveal footer {
  position: absolute;
  width: 100%;
  bottom: -24px;
}

.reveal footer .details {
  position: fixed;
  left: 0;
  bottom:20px;
  font-weight: 500;
  font-size: .6em;
  z-index: 3;
  color: #999;
  /* color: #929292; */
  line-height: 1em;
}

.reveal footer a {
  color: #999;
}

.reveal footer img {
  position: fixed;
  bottom: 10px;
  height: 70px;
  width: 80px;
  right: 0;
  margin-right: 20px;
}

.reveal footer .details sup {
  font-size: .7em;
}

.reveal footer div {
  font-size: 50%;
  line-height: 80px;
  margin-left: 20px;
}

@media(max-width: 600px){
  .reveal footer .details {
    font-size: 2.5vw;
  }
  .reveal footer img {
    display: none;
  }
}

/*********************************************
 * COLOURS
 *********************************************/

.values {
  color : blue !important;
}

.ideas {
  color: purple !important;
}
