---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'post' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">External posts</h1>

  <ul class="post-list">
    {% for post in site.external_posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Publications</h1>

  <ul class="post-list">
    <li>
        <span class="post-meta">August, 2023</span>

        <h2>
          <a class="post-link" href="https://dl.acm.org/doi/10.1145/3609025.3609480?cid=99660990271">Crème de la Crem: Composable Representable Executable Machines</a>
        </h2>
    </li>
  </ul>

  <h1 class="page-heading">Presentations</h1>

  <ul class="post-list">
    <li>
        <span class="post-meta">Apr 13, 2023</span>

        <h2>
          <a class="post-link" href="https://hackmd.io/@CJO5VbycTsyzjGBytbwezQ/S1TOQyQGn#/">Crem: Composable representable executable machines</a>
        </h2>
    </li>

    <li>
        <span class="post-meta">Dec 07, 2022</span>

        <h2>
          <a class="post-link" href="https://hackmd.io/@CJO5VbycTsyzjGBytbwezQ/S1b1j0vNs#/">Looping through Functional Loops</a>
        </h2>
    </li>
    <li>
        <span class="post-meta">Nov 27, 2018</span>

        <h2>
          <a class="post-link" href="https://github.com/marcosh/theartofcomposition">The art of composition</a>
        </h2>
    </li>
    {% for post in site.posts %}
      {% if post.categories contains 'presentations' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
