---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'post' == false %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">Presentations</h1>

  <ul class="post-list">
    <li>
        <span class="post-meta">Nov 27, 2018</span>

        <h2>
          <a class="post-link" href="https://github.com/marcosh/theartofcomposition">The art of composition</a>
        </h2>
    </li>
    {% for post in site.posts %}
      {% if post.categories contains 'presentations' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
