/*********************************************
 * LINE
 *********************************************/

.circle.enter {
  fill: red;
}

.line {
  stroke: black;
  stroke-width: 3;
  fill: none;
}

.line.enter {
  stroke: red;
}

.text {
  font-size: 30px;
}

.text.enter {
  fill: red;
}

.line.select {
  stroke: blue;
}

.line.other {
  stroke: green;
}
